.category_page {
    width: 100%;

    // .tool {
    //     height: 130px;
    //     width: 100%;
    //     background-color: white;
    //     margin-bottom: 5px;
    //     border-bottom: 1px solid grey;
    // }

    .product_list {
        .productCart {
            min-width: 250px;
            min-height: 200px;
            margin-bottom: 10px;
            // .ant-card-body {
            //     display: flex;
            //     justify-content: flex-end;
            // }
        }
    }
}